@use '../../global-styles/variables' as v;

.home-page {
  height: 961px; //????????
  display: grid;
  // grid-template-columns: minmax(min-content, 23.33%) minmax(min-content, 76.67%);
  grid-template-columns: 23.33% 76.67%;
  grid-template-rows: 1fr;
  grid-column-gap: 0;

  @media screen and (min-width: v.$over-desktop) {
    grid-template-columns: minmax(min-content, 336px) 1fr;
  }

  @media screen and (max-width: v.$desktop-width) {
    // grid-template-columns: minmax(min-content, 315px) 1fr;  
    grid-template-columns: 23.33% 76.67%;  
  }
}

.home-page__inner {
  display: flex;
  flex-direction: column;
}

.home-page__main {
  flex-grow: 1;
  padding: 25px 20px 20px 20px;

  // box-shadow: 0 0 0 3px rgba(green, 0.9);
  background-color: v.$background-light-minor1;
}