@use '../../global-styles/variables' as v;

.income__box {
  height: 100%;
  padding-bottom: 23px;

  @media screen and (max-width: v.$tabletWidth) {
    height: 250px;
  }
}

.income__list {
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 10px;
}

.income__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 1;
}

.income__col {
  display: block;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 5px;
}

.income__col-label {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: v.$text-minor;
}
