$over-desktop: 1440px;
$desktop-width: 1023px;
$tablet-width: 767px;
$mobile-width: 576px;

// -------- colors -----------
$white: #ffffff;
$black: #1F1F20;

$accent1: #98F8A0;
$accent2: #454EEC;

$background-light-primary: #FFFFFF;
$background-light-minor1: #F9F9FC;
$background-light-minor2: #F3F3F8;

$text-major: #1F1F20;
$text-minor: #64696C;
$text-accent: #454EEC;
