@use '../../global-styles/variables' as v;

.comment p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: justify;
  color: v.$text-major;
  margin-bottom: 3px;
}

.comment span {
  font-weight: 400;
  font-size: 14px;
  line-height: 108.9%;
  color: v.$text-minor; 
}
