@use '../../global-styles/variables' as v;
@use '../../global-styles/mixins' as m;

.comment {
  margin-bottom: 20px;
}

.comment p {
  font-weight: 400;
  font-size: 18px;
  // @include m.adaptiv-font(18, 15);
  line-height: 140%;
  text-align: justify;
  color: v.$text-major;
  margin-bottom: 3px;
}

.comment span {
  font-weight: 400;
  font-size: 14px;
  line-height: 108.9%;
  color: v.$text-minor; 
}
