@use '../../global-styles/variables' as v;

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 758px;
  min-width: 200px;

  &:hover,
  &:focus {
    border: none;
    outline: none;
  }

  @media screen and (max-width: v.$mobileWidth) {
    margin-bottom: 20px;
    margin-top: 5px;
  }
}

.search__inner {
  width: 100%;
  max-width: 684px;
  min-width: 200px;
  display: flex;
  align-items: center;
  height: 54px;
  padding: 0;
  padding-right: 16.5px;
  background-color: v.$background-light-primary;
  border: 1px solid v.$background-light-minor2;
  border-radius: 10px;
  margin-right: 10px;
  transition: v.$transition; 
  z-index: 2;
  position: relative; 

  @media screen and (max-width: v.$mobileWidth) {
    border-radius: 16px;
    height: 44px;
  }
}

.search__button {
  width: 51px;
  padding: 0 7px;
  height: inherit;

  & svg {
    margin-top: 5px;
    margin-left: 3px;
  }
}

.search__box {
  flex-grow: 1;
}

.search__box input {
  width: 100%;
  border: none;
  background-color: transparent;

  &::placeholder {
    letter-spacing: -1px;
  }

  &:hover,
  &:focus {
    border: none;
    outline: none;
  }
}

.search__add-button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 100px;
  background-color: v.$accent2;

  & svg {
    stroke: v.$white;
  }

  @media screen and (max-width: v.$mobileWidth) {
    width: 44px;
    height: 44px;

    position: absolute;
    z-index: 2;
    bottom: calc(v.$mobileSidebar + 15px);
    right: 15px;
  }
}

// hover&focus
.search__inner {
  @media screen and (min-width: v.$tabletWidth) {
    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 0 0 1px v.$accent2;
      transition: v.$transition;
    }
  }
}

.search__button {
  @media screen and (min-width: v.$tabletWidth) {
    &:hover svg {
      fill: v.$accent2;
    }
  }
}

.search__add-button {
  @media screen and (min-width: v.$tabletWidth) {
    &:hover svg {
      stroke: v.$accent1;
    }
  }
}
