@use '../../global-styles/variables' as v;

.home__wrap {
  width: 100%;
  max-width: 1064px;
  margin: 0 auto;  

  display: grid;
  grid-template-columns: 31.20% 31.20% 33.83%;
  grid-template-rows: 60px 184.5px 184.5px 156px 189px;
  grid-column-gap: 1.88%;
  grid-row-gap: 20px;
  grid-template-areas:
    'title title title'
    'aria-1 aria-1 aria-3'
    'aria-1 aria-1 aria-3'
    'aria-2 aria-2 aria-3'
    'aria-2 aria-2 aria-4';

  @media screen and (max-width: v.$desktop-width) {
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
    'title title'
    'aria-1 aria-1'
    'aria-1 aria-1'
    'aria-2 aria-2'
    'aria-2 aria-2'
    'aria-3 aria-4';
  }
}

.home__title {
  display: block;
  height: 60px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 20px;

  grid-area: title;
} 

.home__block {
  background: v.$white;
  border-radius: 16px;
  padding: 20px; 
  display: flex;
  flex-direction: column; 

  & section {
    display: flex;
    flex-direction: column; 
  }

  & section:not(:last-of-type) {
    margin-bottom: 40px;
  }
}

.home__block--grid-aria-1 {
  grid-area: aria-1;
}

.home__block--grid-aria-2 {
  grid-area: aria-2;
}

.home__block--grid-aria-3 {
  grid-area: aria-3;
}

.home__block--grid-aria-4 {
  grid-area: aria-4;
}
