@use '../../global-styles/variables' as v;
@use '../../global-styles/mixins' as m;

.home__wrap {
  width: 100%;
  max-width: 1064px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 31.20% 31.20% 33.83%;
  grid-template-rows: auto minmax(184.5px, max-content) minmax(184.5px, max-content) 156px minmax(189px, max-content);
  grid-column-gap: 1.88%;
  grid-row-gap: 20px;
  grid-template-areas:
    'title title title'
    'aria-1 aria-1 aria-3'
    'aria-1 aria-1 aria-3'
    'aria-2 aria-2 aria-3'
    'aria-2 aria-2 aria-4';

  @media screen and (max-width: v.$desktopWidth) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'title title'
    'aria-1 aria-1'
    'aria-1 aria-1'
    'aria-2 aria-2'
    'aria-2 aria-2'
    'aria-3 aria-4';
  }

  @media screen and (max-width: v.$tabletWidth) {
    display: flex;
    flex-direction: column;
  }
}

.home__title {
  display: block;
  height: 60px;
  line-height: 60px;
  font-weight: 500;  
  letter-spacing: -2.5px;
  @include m.adaptiv-font(50, 40);

  grid-area: title;

  @media screen and (min-width: v.$maxWidth) {
    font-size: 50px;
  }

  @media screen and (max-width: v.$tabletWidth) {
    grid-area: none;
    height: 40px;
    line-height: 40px;
  }

  @media screen and (max-width: v.$mobileWidth) {
    display: none;
  }
} 

.home__block {
  background: v.$white;
  border-radius: 16px;
  padding: 20px; 
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.home__block--grid-aria-1 {
  grid-area: aria-1;

  @media screen and (max-width: v.$tabletWidth) {
    grid-area: none;
  }
}

.home__block--grid-aria-2 {
  grid-area: aria-2;

  @media screen and (max-width: v.$tabletWidth) {
    grid-area: none;
  }
}

.home__block--grid-aria-3 {
  grid-area: aria-3;

  @media screen and (max-width: v.$tabletWidth) {
    grid-area: none;
  }
}

.home__block--grid-aria-4 {
  grid-area: aria-4;

  @media screen and (max-width: v.$tabletWidth) {
    grid-area: none;
  }
}
