@use '../../global-styles/variables' as v;

.user-nav {
  display: flex;
  margin-left: 40px;

  @media screen and (max-width: v.$mobileWidth) {
    margin-left: 0;
    width: 100%;
  }
}

.user-nav__item--avatar {
  margin-left: 10px;

  @media screen and (max-width: v.$mobileWidth) {
    margin-left: 0;
    width: 100%;
  }
}

.user-nav__avatar-name {
  @media screen and (max-width: v.$mobileWidth) {
    height: 40px;
    line-height: 40px;
    font-size: 35px;
    font-weight: 500;  
    letter-spacing: -2.5px;

    margin-left: 15px;
    margin-right: 5px;
  }
}

.user-nav__item--notifications {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    background-color: v.$accent1;
    width: 8.33px;
    height: 8.33px;
    border-radius: 100px;

    top: 15px;
    right: 13px;
  }
}

.user-nav__link {
  height: 100%;
  width: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-nav__link.user-nav__link--avatar {
  @media screen and (max-width: v.$mobileWidth) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
}

.user-nav__link--avatar .user-nav__avatar-icon {
  @media screen and (max-width: v.$mobileWidth) {
    transform: rotate(-90deg);
    color: v.$text-major;
    text-align: center;
    padding-right: 4px;

    & svg {
      fill: v.$text-major;
    }
  }
}

.user-nav__avatar {
  display: block;
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 100px;
  overflow: hidden;
  position: relative;

  background-color: v.$background-light-minor3;
  color: v.$background-light-minor2;   

  &::before {
    position: absolute;
    content: '';

    top: 12px;
    left: 0;
    right: 0;
    text-align: center;    
  }

  @media screen and (max-width: v.$mobileWidth) {
    width: 44px;
    height: 44px;
  }
}

// hover&focus
.user-nav__link {
  @media screen and (min-width: v.$tabletWidth) {
    &:hover svg,
    &:focus svg {
      fill: v.$accent2;
    }
  }
}
