@use '../../global-styles/variables' as v;

.main-page {
  display: grid;
  grid-template-columns: minmax(240px, 23.33%) 76.67%;

  @media screen and (min-width: v.$maxWidth) {
    grid-template-columns: minmax(min-content, 336px) 1fr;
  }

  @media screen and (max-width: v.$desktopWidth) {
    grid-template-columns: 240px 1fr;
  }
}

.main-page__inner {
  display: flex;
  flex-direction: column;
}

.main-page__main {
  padding: 25px 20px 20px 20px;
  background-color: v.$background-light-minor1;
}
