@use '../../global-styles/variables' as v;
@use '../../global-styles/mixins' as m;

.main-page {
  display: grid;
  grid-template-columns: minmax(239px, 23.33%) 76.67%;
  height: 100vh;

  @media screen and (min-width: v.$maxWidth) {
    grid-template-columns: minmax(min-content, 336px) 1fr;
  }

  @media screen and (max-width: v.$desktopWidth) {
    grid-template-columns: 239px 1fr;
  }

  @media screen and (max-width: v.$tabletWidth) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr v.$mobileSidebar;
    overflow: hidden;
    height: -webkit-fill-available;

    grid-template-areas: 
      'content'
      'menu';
  }

  @media screen and (max-width: v.$mobileWidth) {
    position: relative;
  }
}

.main-page__inner {
  display: flex;
  flex-direction: column;
  background-color: v.$background-light-minor1;

  @media screen and (max-width: v.$tabletWidth) {
    grid-area: content;
    height: calc(100vh - v.$mobileSidebar);
    overflow: scroll;
  }
}

.main-page__main {
  padding: 25px 20px 15px 20px;
}

.main-page__wrap {
  @include m.main-bound;
}
