@use '../../global-styles/variables' as v;

.main-page {
  display: grid;
  grid-template-columns: minmax(240px, 23.33%) 76.67%;

  @media screen and (min-width: v.$maxWidth) {
    grid-template-columns: minmax(min-content, 336px) 1fr;
  }

  @media screen and (max-width: v.$desktopWidth) {
    grid-template-columns: 240px 1fr;
  }

  @media screen and (max-width: v.$tabletWidth) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 72px;
    height: 100vh;
    overflow: hidden;

    grid-template-areas: 
      'content'
      'menu';
  }
}

.main-page__inner {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: v.$tabletWidth) {
    grid-area: content;
    height: calc(100vh - 72px);
    overflow: scroll;
  }
}

.main-page__main {
  padding: 25px 20px 20px 20px;
  background-color: v.$background-light-minor1;
}
