@use '../../global-styles/variables' as v;
@use '../../global-styles/mixins' as m;

.overview {
  margin-bottom: 40px;
}

.overview__wrap{
  display: flex;
  width: 100%;

  @media screen and (max-width: v.$mobileWidth) {
    flex-direction: column;
  }
}

.overview__box {
  padding: 34px 3.2% 30px 3.2%;
  flex-shrink: 0;
  flex: 0 0 50%;

  @media screen and (max-width: v.$mobileWidth) {
    flex: 0 0 100%;
    padding: 15px;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
}

.overview__box--left {
  background-color: v.$background-light-minor1;
  border-radius: 16px 0px 0px 16px;

  @media screen and (max-width: v.$mobileWidth) {
    border-radius: 16px;
  }
}

.overview__box--right {
  background-color: v.$background-light-minor2;
  border-radius: 0px 16px 16px 0px;

  @media screen and (max-width: v.$mobileWidth) {
    border-radius: 16px;
  }
}

.overview__description {
  display: flex;
  justify-content: space-between;
}

.overview__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: v.$text-minor;
  margin-bottom: 10px;
}

.overview__percents {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 29px;
  border-radius: 100px;
  background-color: v.$background-light-primary;
  margin-top: -5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: v.$text-accent;
}

.overview__numbers {
  @include m.adaptiv-font(40, 24);
  font-weight: 500;
  line-height: 48px;
  color: v.$text-major;  
}
