@use '../../global-styles/variables' as v;

.sidebar {
  display: flex;
  flex-direction: column;
  padding-left: 7.97%;
  padding-right: 7.97%;

  @media screen and (max-width: v.$tabletWidth) {
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    grid-area: menu;
    background-color: v.$background-light-minor1;
    z-index: 1;
    box-shadow: 0 -3px 10px -5px rgba(v.$black, 0.3);
  }
}

.sidebar .logo {
  @media screen and (max-width: v.$tabletWidth) {
    display: none;
  }
}

.sidebar__list {  
  padding-top: 23px;
  padding-bottom: 18px;
  position: relative;

  &.sidebar__list--grow {
    flex-grow: 1;
  }
}

.sidebar__list.sidebar__list--mobile {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  width: 100%;
}

.sidebar__list--decor::before {
  position: absolute;
  content: '';
  top: 3px;
  left: 10px;

  height: 1px;
  width: 89%;
  background: v.$background-light-minor2;

  @media screen and (max-width: v.$tabletWidth) {
    display: none;
    height: 0;
    width: 0;
    background: transparent;
  }
}

.sidebar__list--user {
  margin-left: -12px;

  @media screen and (max-width: v.$tabletWidth) {
    margin-left: 0;
  }
}

.sidebar__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 54px;
  padding: 0 14px;
  border-radius: 10px;
  background-color: transparent;
  transition: v.$transition;

  &:not(:last-of-type) {
    margin-bottom: 6px;

    @media screen and (max-width: v.$tabletWidth) {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: v.$tabletWidth) {
    cursor: auto;
    padding: 0;
    flex: 0 0 25%;
    height: 100%;
  }
}

.sidebar__label {
  font-weight: 500;
  color: v.$text-minor;
  margin-top: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @media screen and (max-width: v.$tabletWidth) {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.3px;
  }
}

.sidebar__item-content {
  display: none;
  padding-bottom: 15px;

  & li {
    list-style: inside;
    margin-left: 40px;
    padding: 10px 0;
    color: v.$text-minor;
  }
}

.sidebar__item-inner {
  display: flex;
  align-items: center;
  height: 54px;
}

.sidebar__link {
  flex-grow: 1;
  display: flex;
  height: 100%;
  align-items: center;

  @media screen and (max-width: v.$tabletWidth) {
    flex-direction: column;
    align-items: center;
  }
}

.sidebar__icon {
  display: block;
  width: 25px;
  height: 25px;
  font-size: 0;
  margin-right: 7%;
  
  & svg {
    fill: v.$text-minor;    

    @media screen and (max-width: v.$tabletWidth) {
      height: 26px;
      transform: scale(0.8);
    }
  } 
  
  @media screen and (max-width: v.$tabletWidth) {
    margin-right: 0;
    margin-bottom: 3px;
  }
}

.sidebar__button {
  display: flex;
  align-items: center;

  & svg {
    margin-bottom: 2px;
  } 

  @media screen and (max-width: v.$tabletWidth) {
    display: none;
  }
}

// selected section & NOT opened section
.sidebar__item--selected {
  background-color: v.$background-light-minor2;
  color: v.$accent2;

  & .sidebar__icon svg,
  & .sidebar__label,
  & .sidebar__button svg {
    fill: v.$accent2;
    color: v.$accent2;
  }

  & .sidebar__button {
    transform: rotate(-90deg) translateY(0);
  }

  @media screen and (max-width: v.$tabletWidth) {
    background-color: transparent;
    border-radius: 0;
  }
}

// NOT selected section & opened section
.sidebar__item--opened {
  height: min-content;

  & .sidebar__item-content {
    display: block;
  }

  & .sidebar__button {
    transform: rotate(-180deg);
  }
}

// selected section & opened section
.sidebar__item--selected.sidebar__item--opened {
  & .sidebar__button {
    transform: rotate(-180deg) translateY(0px);
  }
}

// hover&focus
.sidebar__item {
  @media screen and (min-width: v.$tabletWidth) {
    cursor: pointer;

    &:hover,
    &:focus {
      transition: v.$transition;
    }

    &:hover .sidebar__link .sidebar__label,
    &:focus .sidebar__link .sidebar__label {
      color: v.$accent2;
    }

    &:hover .sidebar__link .sidebar__icon svg,
    &:focus .sidebar__link .sidebar__icon svg,
    &:hover .sidebar__button svg,
    &:focus .sidebar__button svg {
      fill: v.$accent2;
    }
  }
}