@use '../../global-styles/variables' as v;

.sidebar {
  width: 100%;
  max-width: 336px;
  min-width: 315px;
  height: 100vh;

  display: flex;
  flex-direction: column;

  padding-left: 26px;
  padding-right: 26px;
}

.sidebar__logo {
  height: 66px;
  margin-left: 3px;
  display: flex;
  align-items: center;

}

.sidebar__logo-link {
  display: block;
  width: 136px;
  height: 35px;

  img {
    width: inherit;
    height: inherit;
  }
}

.sidebar__list {  
  padding-top: 23px;
  padding-bottom: 18px;
  position: relative;

  &.sidebar__list--grow {
    flex-grow: 1;
  }
}

.sidebar__list--decor::before {
  position: absolute;
  content: '';
  top: 3px;
  left: 10px;

  height: 1px;
  width: 89%;
  background: v.$background-light-minor2;
}

.sidebar__list--user {
  margin-left: -12px;
}

.sidebar__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 54px;
  padding: 0 14px;
  border-radius: 10px;

  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-bottom: 6px;
  }

  &:hover,
  &:focus {
    background-color: v.$background-light-minor2;
    transition: all 0.3s ease;
  }

  &:hover .sidebar__link .sidebar__label,
  &:focus .sidebar__link .sidebar__label {
    color: v.$accent2;
  }

  &:hover .sidebar__link .sidebar__icon svg,
  &:focus .sidebar__link .sidebar__icon svg,
  &:hover .sidebar__button svg,
  &:focus .sidebar__button svg {
    fill: v.$accent2;
  }
}

.sidebar__item-content {
  display: none;
  padding-bottom: 15px;

  & li {
    list-style: inside;
    margin-left: 40px;
    padding: 10px 0;
    color: v.$text-minor;
  }
}

.sidebar__item--open {
  height: min-content;

  & .sidebar__item-content {
    display: block;
  }
}

.sidebar__item-inner {
  display: flex;
  align-items: center;
  height: 54px;
}

.sidebar__link {
  flex-grow: 1;
  display: flex;
}

.sidebar__icon {
  display: block;
  font-size: 0;
  margin-right: 6%;

  & svg {
    fill: v.$text-minor;
  }  
}

.sidebar__label {
  font-weight: 500;
  color: v.$text-minor;
  margin-top: 1px;
}

.sidebar__button {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;

  & svg {
    margin-bottom: 2px;
  } 
}

.sidebar__button--open {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}
