@use '../../global-styles/variables' as v;

.popular-list__list {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.popular-list__link {
  display: flex;
  min-height: 66px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 16px;
  color: v.$accent2;

  & span {
    margin-bottom: -10px;
  }
  
  &:hover,
  &:focus {
    color: v.$accent1;
  }

  &:hover .popular-list__link-icon svg,
  &:focus .popular-list__link-icon svg {
    fill: v.$accent1;
  }

  @media screen and (max-width: v.$tabletWidth) {
    &:hover,
    &:focus {
      color: v.$accent2;
    }

    &:hover .popular-list__link-icon svg,
    &:focus .popular-list__link-icon svg {
      fill: v.$accent2;
    }
  }
}

.popular-list__link-text {
  margin-right: 8px;
}

.popular-list__link-icon svg {
  fill: v.$accent2;
  margin-bottom: -1px;
}
