@use '../../global-styles/variables' as v;

.experts {
  padding-bottom: 20px;
}

.experts__wrap {
  display: flex;
  justify-content: space-between;
  margin-right: -10px;
}

.experts__item {
  display: flex;
  max-width: 190px;
  height: 100%;
  cursor: pointer;
  transform: scale(1);

  &:hover .experts__img,
  &:focus .experts__img {
    transform: scale(1.1);
    transition: v.$transition;
  }

  @media screen and (max-width: v.$tabletWidth) {
    flex-direction: column;

    &:hover .experts__img,
    &:focus .experts__img {
      transform: scale(1);
      margin-bottom: 10px;
    }
  }
}

.experts__img {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  transition: v.$transition;

  @media screen and (max-width: v.$tabletWidth) {
    margin-bottom: 10px;
  }
}

.experts__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;

  @media screen and (max-width: v.$tabletWidth) {
    padding: 0;
  }
}

.experts__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: v.$text-major;
}

.experts__experience {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: v.$text-minor;
}
