@use '../../global-styles/variables' as v;

.product-list__list {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-list__link {
  font-weight: 400;
  font-size: 16px;
  color: v.$accent2;

  display: flex;
  min-height: 66px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  & span {
    margin-bottom: -10px;
  }
  
  &:hover,
  &:focus {
    color: v.$accent1;
  }

  &:hover .product-list__link-icon svg,
  &:focus .product-list__link-icon svg {
    fill: v.$accent1;
    transition: all 0.3s ease;
  }
}

.product-list__link-text {
  margin-right: 8px;
}

.product-list__link-icon svg {
  fill: v.$accent2;
  transition: all 0.3s ease;
  margin-bottom: -1px;
}
